<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.peysen.bootrabbitmq.repository.OrderRepository" >

    <resultMap id="OrderResultMap" type="com.org.peysen.bootrabbitmq.entity.Order" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="context" property="context" jdbcType="VARCHAR" />
        <result column="message_id" property="messageId" jdbcType="VARCHAR" />
    </resultMap>



    <select id="findById" resultMap="OrderResultMap" parameterType="java.lang.Integer" >
        select id,context,message_id
          from t_order
          where id = #{id,jdbcType=INTEGER}
    </select>
    
    <insert id="insertOrder" parameterType="com.org.peysen.bootrabbitmq.entity.Order">

        insert into t_order(id,context,message_id)
            value(#{id},#{context},#{messageId})

    </insert>

</mapper>