<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.peysen.bootrabbitmq.mapper.OrderRepository" >

    <resultMap id="OrderResultMap" type="com.org.peysen.bootrabbitmq.entity.Order" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="context" property="context" jdbcType="VARCHAR" />
        <result column="message_id" property="messageId" jdbcType="VARCHAR" />
    </resultMap>


    <insert id="insertOrder" parameterType="com.org.peysen.bootrabbitmq.entity.Order"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_order(id, context, message_id)
            value(#{id}, #{context}, #{messageId})
    </insert>

</mapper>